<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://23.229.199.137:3306/class21bd?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">uclass21</property>
    <property name="hibernate.connection.password">leon2015</property>
    <mapping resource="edu/bullyingmestrado/dao/WpEspAttendeeMeta.hbm.xml"/>
    <mapping resource="edu/bullyingmestrado/dao/WpEspQuestion.hbm.xml"/>
    <mapping resource="edu/bullyingmestrado/dao/WpBpActivityMeta.hbm.xml"/>
    <mapping resource="edu/bullyingmestrado/dao/WpEspQuestionOption.hbm.xml"/>
    <mapping resource="edu/bullyingmestrado/dao/WpBpXprofileFields.hbm.xml"/>
    <mapping resource="edu/bullyingmestrado/dao/WpEspAnswer.hbm.xml"/>
    <mapping resource="edu/bullyingmestrado/dao/WpEspLineItem.hbm.xml"/>
    <mapping resource="edu/bullyingmestrado/dao/WpBpNotifications.hbm.xml"/>
    <mapping resource="edu/bullyingmestrado/dao/WpEspExtraMeta.hbm.xml"/>
    <mapping resource="edu/bullyingmestrado/dao/WpEspPaymentMethod.hbm.xml"/>
    <mapping resource="edu/bullyingmestrado/dao/WpEspState.hbm.xml"/>
    <mapping resource="edu/bullyingmestrado/dao/WpBpMessagesMeta.hbm.xml"/>
    <mapping resource="edu/bullyingmestrado/dao/WpBpActivity.hbm.xml"/>
    <mapping resource="edu/bullyingmestrado/dao/WpEspTicket.hbm.xml"/>
    <mapping resource="edu/bullyingmestrado/dao/WpEspEventVenue.hbm.xml"/>
    <mapping resource="edu/bullyingmestrado/dao/WpBpXprofileMeta.hbm.xml"/>
    <mapping resource="edu/bullyingmestrado/dao/WpBpFriends.hbm.xml"/>
    <mapping resource="edu/bullyingmestrado/dao/WpEspExtraJoin.hbm.xml"/>
    <mapping resource="edu/bullyingmestrado/dao/WpEspVenueMeta.hbm.xml"/>
    <mapping resource="edu/bullyingmestrado/dao/WpEspQuestionGroup.hbm.xml"/>
    <mapping resource="edu/bullyingmestrado/dao/WpPostmeta.hbm.xml"/>
    <mapping resource="edu/bullyingmestrado/dao/WpLinks.hbm.xml"/>
    <mapping resource="edu/bullyingmestrado/dao/WpComments.hbm.xml"/>
    <mapping resource="edu/bullyingmestrado/dao/WpEspQuestionGroupQuestion.hbm.xml"/>
    <mapping resource="edu/bullyingmestrado/dao/WpLayerslider.hbm.xml"/>
    <mapping resource="edu/bullyingmestrado/dao/WpTermTaxonomy.hbm.xml"/>
    <mapping resource="edu/bullyingmestrado/dao/WpEspRegistrationPayment.hbm.xml"/>
    <mapping resource="edu/bullyingmestrado/dao/WpEspDatetime.hbm.xml"/>
    <mapping resource="edu/bullyingmestrado/dao/WpEspTicketPrice.hbm.xml"/>
    <mapping resource="edu/bullyingmestrado/dao/WpEspTransaction.hbm.xml"/>
    <mapping resource="edu/bullyingmestrado/dao/WpEspEventMeta.hbm.xml"/>
    <mapping resource="edu/bullyingmestrado/dao/WpEspPriceType.hbm.xml"/>
    <mapping resource="edu/bullyingmestrado/dao/WpEspRegistration.hbm.xml"/>
    <mapping resource="edu/bullyingmestrado/dao/WpBpXprofileGroups.hbm.xml"/>
    <mapping resource="edu/bullyingmestrado/dao/WpEspEventQuestionGroup.hbm.xml"/>
    <mapping resource="edu/bullyingmestrado/dao/WpEspPrice.hbm.xml"/>
    <mapping resource="edu/bullyingmestrado/dao/WpEspEventMessageTemplate.hbm.xml"/>
    <mapping resource="edu/bullyingmestrado/dao/WpTermmeta.hbm.xml"/>
    <mapping resource="edu/bullyingmestrado/dao/WpBpNotificationsMeta.hbm.xml"/>
    <mapping resource="edu/bullyingmestrado/dao/WpUsermeta.hbm.xml"/>
    <mapping resource="edu/bullyingmestrado/dao/WpSignups.hbm.xml"/>
    <mapping resource="edu/bullyingmestrado/dao/WpEspCurrency.hbm.xml"/>
    <mapping resource="edu/bullyingmestrado/dao/WpEspPayment.hbm.xml"/>
    <mapping resource="edu/bullyingmestrado/dao/WpEspCheckin.hbm.xml"/>
    <mapping resource="edu/bullyingmestrado/dao/WpBpXprofileData.hbm.xml"/>
    <mapping resource="edu/bullyingmestrado/dao/WpCommentmeta.hbm.xml"/>
    <mapping resource="edu/bullyingmestrado/dao/WpBpMessagesNotices.hbm.xml"/>
    <mapping resource="edu/bullyingmestrado/dao/WpUsers.hbm.xml"/>
    <mapping resource="edu/bullyingmestrado/dao/WpBpMessagesRecipients.hbm.xml"/>
    <mapping resource="edu/bullyingmestrado/dao/WpPosts.hbm.xml"/>
    <mapping resource="edu/bullyingmestrado/dao/WpEspDatetimeTicket.hbm.xml"/>
    <mapping resource="edu/bullyingmestrado/dao/WpEspTicketTemplate.hbm.xml"/>
    <mapping resource="edu/bullyingmestrado/dao/WpEspMessageTemplate.hbm.xml"/>
    <mapping resource="edu/bullyingmestrado/dao/WpBpMessagesMessages.hbm.xml"/>
    <mapping resource="edu/bullyingmestrado/dao/WpEspMessageTemplateGroup.hbm.xml"/>
    <mapping resource="edu/bullyingmestrado/dao/WpOptions.hbm.xml"/>
    <mapping resource="edu/bullyingmestrado/dao/WpEspCountry.hbm.xml"/>
    <mapping resource="edu/bullyingmestrado/dao/WpTerms.hbm.xml"/>
    <mapping resource="edu/bullyingmestrado/dao/WpEspLog.hbm.xml"/>
    <mapping resource="edu/bullyingmestrado/dao/WpEspCurrencyPaymentMethod.hbm.xml"/>
    <mapping resource="edu/bullyingmestrado/dao/WpTermRelationships.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
